.Container{
    display: flex;
    flex-direction: column;
    height: 100%;
    }
    h1{
        display: flex;
        justify-content: center;
        height: 8%;
        align-items: center;
    
    }
.show{
    height: 92%;
    background: #cc59cca0;

}
.btnera{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.btns {
    border-radius: 0px;
    background-color: #97949498;
    flex-grow: 1;
    flex-basis: calc(50% - 20px); /* Ajusta el valor del margen según tus necesidades */
    margin: 10px;
}